<div>
<div class="form-group">
<%= f.label :all_categories, t('tags') %>
<%= f.text_field :all_categories, class: "form-control" %>
<small class="form-text text-muted"><%=t('enter_cst')%></small>
</div>

<div class="form-group">
<%= f.label :name %>
<%= f.text_field :name%>
</div>

<div class="form-group">
<%= f.label :text%>
<%= text_area_tag :text, "", :class => "tinymce", :rows => 40, :cols => 120 %>
<%= tinymce %>
</div>
 
<%= f.submit "Save"%>
</div>