<div class="row">
<div class="col">	
<div class="row">
	<div class="col">
	<ul class="nav">
	  <span class="navbar-text font-weight-bold">
	  	<%= t('all_questions') %>
	  </span>
	</ul>
	</div>
<!--  separator  -->	
	<div class="col">
	<ul class="nav justify-content-end">
  <li class="nav-item">
    <%=link_to t('new_question'), new_question_path, class:"btn btn-primary" %>
  </li>
</ul>

</div>
<div>
  <%= search_form_for @q do |k| %>
  <%= k.label "Знайти: " %>
  <%= k.search_field :name_or_text_cont %>
  <%= k.submit "Шукати", class:"btn btn-info"%>
<% end %>
</div>
</div>
<hr>

<%=render @questions%>
</div>
<div class="col-12 col-md-3">
	 <%= render "layouts/sidebar"%>
</div>
</div>