
<div class="row">
<div class="col">
<h3><%= @question.name %> &nbsp; 
	<%if user_signed_in?%>
		<%if current_user.id==@question.user.id%>
			<%=link_to edit_question_path(@question.id) , style:"text-decoration: none;" do%> 
				<span class="fa fa-pencil" ></span>
			<%end%>
		<%end%>
  	
		<%= link_to chosen_question_path , style:"text-decoration: none;" do%>
			<%if ChosenQuestion.find_by(question_id: @question.id, user_id: current_user.id) %>
				<span class="fa fa-star">
			<%else%>
				<span class="fa fa-star-o">
			<%end%></span>
		<%end%>	
	<%end%>
</h3>
<hr>
<p> 
<%= raw Tag.new.all_tags_w(@question).map(&:name).map{ |t| link_to t, category_path(t), class: 'font-weight-bold badge badge-secondary' }.join(' ') %>
</p>
<p><%= @question.text.html_safe %></p>
<%=render @qcomments%>
<br>
<div class="forms-b">
<%if user_signed_in? && current_user.id !=@question.user.id%>
	<%=form_for :answer, url:question_answers_path(@question.id) do |f|%>
		<%=render '/answers/form', f:f %>&emsp;
	<%end%>
	<%end%>


<%=form_for :qcomment,  url:question_qcomments_path(@question.id) do |g| %>
<%=render "/qcomments/form", g:g %>
<%end%>

</div>
<hr>

<%=render @answers%>

</div>
<div class="col-12 col-md-3">
	 <%= render "layouts/sidebar"%>
</div>
</div>