<h3><%= @question.name %> <%= link_to "В закладки", chosen_question_path%></h3>
<hr>
<p> 
<%= raw @question.categories.map(&:name).map{ |t| link_to t, category_path(t)}.join(' ') %></p>
<p><%=@question.text.html_safe%></p>
<%=form_for :qcomment,  url:question_qcomments_path(@question.id) do |g| %>
	<%=render "/qcomments/form", g:g %>
<%end%>
<br>
<%=render @qcomments%>
<br>

<div>
	<%=form_for :answer, url:question_answers_path(@question.id) do |f|%>
		<%=render '/answers/form', f:f %>
	<%end%>
</div>
<hr>

<%=render @answers%>
