<div class="row">
<div class="col">	
	<div class="row">

<div class="col-2">
<%=image_tag @userparam.avatar.url,width:100%>
</div>

<div class="col">
<h3>Профіль користувача <b><%=@userparam.user.nickname%></b></h3>
<h5><%=@userparam.user.email%></h5>
<%if @userparam.country!=nil%><h5><%=ISO3166::Country[@userparam.country].translations[I18n.locale.to_s]%></h5><%end%>
<h5><%=@userparam.univ%></h5>
<h5><%=@userparam.phone%></h5>
<h5>Рейтинг: <%=@userparam.karma%></h5>
<%if user_signed_in? && current_user.id == @userparam.user.id%>
<%=link_to "Редагувати профіль", edit_userparam_path(current_user.userparam.id)%>&emsp;
<%=link_to "Змінити дані для входу", edit_user_registration_path%>
<%end%>
</div>
</div>
<hr/>
<div class="row">
<%if @userparam.bio!="" && @userparam.bio!=nil%><div class="col">
	<p>Про себе:
<%=@userparam.bio%>
</p>

</div><%end%>

<%if user_signed_in? && @userparam.user.id != current_user.id%>
<%= form_for :notification, url:user_notif_path(@userparam.id) do |f|%>
<%=f.text_area :text%>

<%=f.submit "commit" %>
<%end%>
<%end%>
</div>
</div>
<div class="col-12 col-md-3">
	 <%= render "layouts/sidebar"%>
</div>
</div>