
<div class="row clearfix">
	<div class="col-1">
		<%=link_to positiv_vote_path(answer.id) do%>
		<%= image_tag "up-arrow.svg", :heigth=>"18", :width=>"18", :class=>"mx-auto d-block" %>
		<%end%>
		<h3 class="text-center text-dark" style="margin: 0; margin-left: 2px;"><%=answer.score%></h3>
		<%=link_to negativ_vote_path(answer.id) do%>
		<%= image_tag "down-arrow.svg", :heigth=>"18", :width=>"18", :class=>"mx-auto d-block"  %>
		<%end%>
	<%if answer.right %>
		<%=link_to right_answer_path(answer.id)do%><span class="fa fa-check fa-2x" , style=" color: lightgreen;"></span><%end%>
	<%else%>
		<%if current_user.id == answer.question.user.id%>
		<%=link_to right_answer_path(answer.id)do%>Підтвердити<%end%>
		<%end%>
	<%end%>
	</div>

	<div class="col">
	<%=answer.text.html_safe%>
	
		<%=form_for :anscomment,  url:answer_anscomments_path(answer.id) do |h| %>
		<small class="float-left"><b>
			<%=link_to t('delete'), question_answer_path(answer.question.id,answer.id),data:{confirm: "are you shore?"}, method: :delete, :class=>"text-secondary"%>
			&emsp;
			<%=render "anscomments/form", h:h%>
		</b></small>
		<%end%>
	<small class="text-right text-dark float-right"><%=image_tag answer.user.userparam.avatar.url, height:20%> <b class="align-bottom"><%=answer.user.nickname%></b></small><br/>
	<%=render Anscomment.where(answer_id: answer.id)%>
</div>

</div>
<hr>