<p><%=answer.text.html_safe%></p>
<p><%=answer.user.email%></p>
<p><%=answer.score%> <%=link_to '+', positiv_vote_path(answer.id), method: :get%><%=link_to '-', negativ_vote_path(answer.id)%></p>
<%=render Anscomment.where(answer_id: answer.id)%>
<%=form_for :anscomment,  url:answer_anscomments_path(answer.id) do |f| %>
	<%=render "anscomments/form", f:f%>
<%end%>
 <p><%=link_to "Видалити", question_answer_path(answer.question.id,answer.id), method: :delete%></p> 