<div class="row">
	<div class="col">	
		<div class="row">
			<div class="col">
				<ul class="nav">
	  				<span class="navbar-text font-weight-bold">
	  					<%= t(:all_post)%>
	  				</span>
				</ul>
			</div>	
			<div class="col">
				<ul class="nav justify-content-end">
  					<li class="nav-item">
    					<%=link_to t(:new_post), new_post_path, class:"btn btn-primary" %>
  					</li>
				</ul>
			</div>
		</div>
	<hr>
		<%=render @posts%>
	<%if @posts != nil%>
		<div class="flickr_pagination">
			<%= will_paginate @posts, container: false %>
  		</div>
	<%end%>
	</div>
	<div class="col-12 col-md-3">
		<%= render "layouts/sidebar"%>
	</div>
</div>
