

<h1><%= @post.name%>
	<%if user_signed_in? && current_user.id==@post.user.id%>
		<%=link_to "", edit_post_path(@post.id), class:"fa fa-pencil" , style:"text-decoration: none;"%>
	<%end%>
</h1>
<div><%= sanitize @post.text%></div>
<div>
<%= raw Tag.new.all_tags_w(@post).map(&:name).map{ |t| link_to t, category_path(t), class: 'font-weight-bold badge badge-secondary' }.join(' ') %>
</div>
<%=form_for :postcomment,  url:post_postcomments_path(@post.id) do |p| %>
<%=render "/postcomments/form", p:p %>
<%end%>

<%=render @postcomments%>