<%=form_for :report, url:reports_path  do |f|%>
<div>
<%=f.label "Ваш відгук:"%>
<div class="form-group">
<%= f.label "Type:" %>
<%= f.select(:kind_of, options_for_select(["Проблема","Пропозиція"]),  class: "form-control") %>
</div>

<div class="form-group">
<%= f.text_area :text, :class => "tinymce", :rows => 8, :cols => 100 %>
<%= tinymce %>
</div>
 
<%= f.submit t('submit'), class:"btn btn-primary"%>
</div>
<%end%>