<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
      <%=link_to "DoIT", root_path, class:"navbar-brand"%>
    <li class="nav-item">
      <%= link_to t('tags'), categories_path, class:'nav-link'%>
    </li>

    </ul>
    </div>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

        <ul class="navbar-nav ml-auto">
<div style="margin-right: 10px;">
    <form class="form-inline my-2 my-lg-0">
    <%= form_tag("/search", method: "get") do %>
      <%= text_field_tag(:q  ,"" ,:class => "form-control mr-sm-2",:type => "search") %>
      <%= submit_tag("Search" ,:class => "btn btn-outline-success my-2 my-sm-0", :type => "submit") %>
      <% end %>
    </form>
</div>


         <%if user_signed_in?%>
    <span class="navbar-text">
      <%= current_user.nickname %>
    </span>
        <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        <img class="img-circle" style="margin-top: -4px; margin-bottom: -4px;" height="30px" src="<%=current_user.userparam.avatar.url%>">
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <p class="dropdown-item"><span class = "fa fa-user" style="color: lightgray;"></span>&nbsp;<%= link_to t('profile'), userparam_path(current_user.userparam.id)%></p>
        <p class="dropdown-item"><span class = "fa fa-envelope " style="color: lightgray;"></span>&nbsp;<%= link_to "Сповіщення", notifications_path%></p>
        <p class="dropdown-item"><span class = "fa fa-star" style="color: lightgray;"></span>&nbsp;<%= link_to "Закладки", chosens_path %></p>
        <hr>
        <p class="dropdown-item"><span class = "fa fa-sign-out" style="color: lightgray;"></span>&nbsp;<%= link_to t('sign_out'), destroy_user_session_path,method: :delete%></p>

      </div>
    </li>
        <li class="nav-item">
             
        </li>
    <%else%>
        <li class="nav-item">
             <%= link_to t('sign_in'), new_user_session_path, class:'nav-link'%>
        </li>   
    <%end%>   
        </ul>
    </div>
</nav>
