<div>
	<h6>Теги:</b></h6>
	<%=render @tags%>
</div>
<br/>

<%if @user_rat !=nil%>
<hr>
<style type="text/css"></style>
<div>
	<h6 align="center"><b>ТОП Користувачів</b></h6>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Користувач</th>
				<th>Карма</th>
			</tr>
		</thead>
		<tbody>
			<%@user_rat.each do |user|%>
				<tr>
					<td><%=link_to user.user.nickname, userparam_path(user.id)%></td>
					<td align="center"><%=user.karma%></td>
				</tr>
			<%end%>
		</tbody>
	</table>
</div>
<br/>
<%end%>

<%=render "layouts/qrcode"%>
<br/>

<div class="d-sm-none d-md-block card">
	<%= image_tag "your-ad-here.png", :class=>"card-img-top"  %>

		<div class="card-body">
		<p class="card-text"><%=t('your_ad_here')%> <br />ads@doit.com</p>
		</div>
</div>
<br/>
